@font-face {
    font-family: 'visby_cfheavy';
    src: url('visbycf-heavy-webfont.woff2') format('woff2'),
         url('visbycf-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfextra_bold';
    src: url('visbycf-extrabold-webfont.woff2') format('woff2'),
         url('visbycf-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfbold';
    src: url('visbycf-bold-webfont.woff2') format('woff2'),
         url('visbycf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfdemi_bold';
    src: url('visbycf-demibold-webfont.woff2') format('woff2'),
         url('visbycf-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfmedium';
    src: url('visbycf-medium-webfont.woff2') format('woff2'),
         url('visbycf-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfregular';
    src: url('visbycf-regular-webfont.woff2') format('woff2'),
         url('visbycf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cflight';
    src: url('visbycf-light-webfont.woff2') format('woff2'),
         url('visbycf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfthin';
    src: url('visbycf-thin-webfont.woff2') format('woff2'),
         url('visbycf-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}