body.menu-visible {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#masthead {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;

	&.menu-visible {
		z-index: 10;

		.menu-toggle {
			display: none;
		}

		.site-title-mag {
			z-index: 11;
		}
	}

	.site-title-mag {
		width: 250px;
		position: fixed;
		top: 0;
		left: 50%;
		z-index: 1;
		transform: translate(-50%,0);

		a {
			border-bottom: none;
		}
	}
}

.main-navigation {
	clear: both;
	display: block;
	float: right;

	.full-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: -9;
		background-color: $citadel_navy;
		color: #ffffff;
		transition: opacity .4s ease;

		a {
			color: #ffffff;
			padding: .75rem;

			&:hover,
			&:focus {
				border-bottom-color: #ffffff;
			}
		}

		h3 {
			margin-top: 0;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    font-size: 2rem;
    	text-align: center;
	    padding: 6rem 5.62vw;
	    max-width: 100%;
	    max-height: 100%;
	    transform: translate(-50%,-50%);

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled .full-menu {
	z-index: 9;
	opacity: 1;
}

.menu-toggle,
.menu-close {
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	color: #ffffff;
	text-shadow: 0 0 5px #000;
	position: absolute;
	top: 0;
	right: 0;

	&.page {
		color: #000000;
		text-shadow: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		overflow: hidden;
	}

	.nav-previous {
		width: 100%;
	}

	.nav-next {
		text-align: right;
		width: 100%;
	}
}

.nav-links {
	display: flex;
	background-color: #000000;

	@include media( 'tablet' ) {
		display: block;
	}

	a:hover {
		img {
			opacity: 1;
		}
		.post-title {
			opacity: 0;
		}
	}

	.nav-previous,
	.nav-next {
		position: relative;
		font-size: 2rem;
		text-align: center;
		height: 50vh;
		overflow: hidden;

		@include media( 'tablet' ) {
			width: 100%;
		}

		.post-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			color: #ffffff;
			opacity: 1;
			line-height: 1;
			transition: opacity ease .4s;

			i {
				margin: 0 10px;
				font-size: 1.5rem;
			}
		}
	}

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: .5;
		z-index: 0;
		transition: opacity ease .4s;
	}
}
