.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

#featured {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include media( 'tablet' ) {
		position: static;
		height: auto;
	}

	article {
		width: 50%;
		overflow: hidden;
		float: left;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		@include media( 'tablet' ) {
			width: 100%;
			overflow: visible;
			float: none;
			min-height: 66vh;
		}

		> a {
			display: block;
			width: 100%;
			height: 100%;
			border-bottom: none;

			@include media( 'tablet' ) {
				display: table;
			    min-height: 66vh;
			}

			&:hover {
				.overlay {
					opacity: 0;
				}

				.content-container {
					opacity: 0;

					@include media( 'tablet' ) {
						opacity: 1;
					}
				}
			}
		}

		.overlay {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 0;
			background-color: #000000;
			opacity: .5;
			transition: opacity ease .4s;

			@include media( 'tablet' ) {
				display: none;
			}
		}

		h3 {
			font-size: 2.5rem;
			line-height: 1;
			margin-top: 0;
			margin-bottom: .75rem;
			display: inline-block;
		}

		i {
			display: inline-block;
			margin-left: 10px;
			font-size: 1.5rem;
			vertical-align: middle;
		}

		.entry-content {
			display: none;
		}

	}

	article:nth-last-child(3) {
		height: 100vh;

		@include media( 'tablet' ) {
			height: auto;
			padding-top: 4rem;
		}

		h3 {
			font-size: 4rem;
			display: block;

			@include media( 'tablet' ) {
				font-size: 2.5rem;
			}
		}

		i {
			display: none;

			@include media( 'tablet' ) {
				display: inline-block;
			}
		}

		.entry-content {
			display: block;
			font-size: 1.5rem;

			@include media( 'tablet' ) {
				display: none;
			}
		}
	}

	article:nth-last-child(2) {
		height: 50vh;

		@include media( 'tablet' ) {
			height: auto;
		}
	}

	article:nth-last-child(1) {
		height: 50vh;

		@include media( 'tablet' ) {
			height: auto;
		}
	}

	&::after {
		content: "";
		clear: both;
	}

	.content-container {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		color: #ffffff;
		text-shadow: 0 0 5px #000;
		transform: translate(-50%, -50%);
		width: 100%;
	    text-align: center;
	    padding: 0 4rem;
	    opacity: 1;
		transition: opacity ease .4s;

		@include media( 'tablet' ) {
			position: static;
			transform: none;
			display: table-cell;
			padding: 6rem 2rem;
			vertical-align: middle;
		}
	}
}

.homepage-sections {
	margin-top: 100vh;
	position: relative;
	padding: 4rem 3rem;
	font-size: 1.5rem;
	z-index: 1;
	background-color: #ffffff;

	@include media( 'tablet' ) {
		padding: 3rem 2rem;
		margin-top: 0;
	}

	> section {
		max-width: 1000px;
		margin: 0 auto 3em;
		overflow: auto;

		h2 {
			margin: 0;
			font-size: 3rem;
		}

		&::after {
			clear: both;
			content: "";
			display: table;
		}
	}

	.section-info {
		margin-bottom: 3rem;

		p {
			margin-bottom: 0;
		}
	}
	
	article {
		display: inline-block;
		vertical-align: top;
		width: calc(50% - 4px);
		margin-bottom: 3rem;

		@include media( 'tablet' ) {
			width: 100%;
		}

		&:nth-child(even) {
			padding-right: 1.5rem;

			@include media( 'tablet' ) {
				padding-right: 0;
			}
		}

		&:nth-child(odd) {
			padding-left: 1.5rem;

			@include media( 'tablet' ) {
				padding-left: 0;
			}
		}

		.post-thumbnail {
			display: block;
			border-bottom: none;
			height: 300px;
			width: 100%;
			overflow: hidden;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 110%;
			margin-bottom: 1.5rem;
			transition: background-size ease .4s;

			@include media( 'desktop' ) {
				height: 26vw;
			}

			@include media( 'tablet' ) {
				height: 45vw;
			}

			&:hover {
				background-size: 120%;
			}
		}

		.item-category {
			font-size: 1.25rem;
		}

		h3 {
			margin: 0; 
		}
	}
}

.single-post {

	.entry-header {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		text-align: center;
		position: relative;
		height: 100vh;
	    position: fixed;
	    width: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 0;

		.entry-header-container {
			width: 100%;
			position: absolute;
			padding: 4rem 5.62vw;
			top: 50%;
			left: 50%;
			text-shadow: 0 0 5px #000;
			transform: translate(-50%, -50%);

			> *:nth-child(1) {
				margin-top: 0;
			}

			> *:nth-last-child(1) {
				margin-bottom: 0;
			}

			img {

				&.vertical {
					height: 100%;
					max-height: 75vh;
					width: auto;

					@include media( 'tablet' ) {
						width: auto;
						height: auto;
					}
				}

				&.horizontal {
					max-width: 800px;
					margin: 0 auto;
				}
			}
		}

		.entry-title {
			font-size: 5rem;
			color: #ffffff;
			line-height: 1.1;
			margin-bottom: .85rem;

			@include media( 'mobile' ) {
				font-size: 3rem;
			}
		}

		.byline,
		.photo-byline {
			color: #ffffff;
			font-size: 1.5rem;
			font-weight: 700;
			margin: 0;

			span {
				font-size: 1rem;
				font-weight: normal;
				display: inline-block;
				vertical-align: middle;

				&.sep {
					font-size: inherit;
				}
			}
		}

		.mag-deck {
			font-size: 1.5rem;
			color: #fff;
			max-width: 1000px;
			margin: 0 auto 1rem;

			@include media( 'tablet' ) {
				display: none;
			}
		}
	}

	.entry-content {
		font-size: 1.5rem;
	    background-color: #fff;
	    margin-top: 100vh;
	    position: relative;
	    z-index: 1;
	    padding: 3em;

	    h2,
	    h3,
	    h4,
	    h5,
	    h6 {
	    	display: inline-block;
	    	margin: 0;
	    }

		.entry-content-container {
			max-width: 1000px;
			margin: 0 auto;

			> *:nth-child(1) {
				margin-top: 0;
			}

			> *:nth-last-child(1) {
				margin-bottom: 0;
			}
		}

		.mobile-mag-deck {
			display: none;
			padding-bottom: 1.5em;
			border-bottom: 1px solid $shako;

			@include media( 'tablet' ) {
				display: block;
			}

			p {
				margin: 0;
			}
		}

		figure.wp-block-image {
			margin-left: calc(-100vw / 2 + #{$size__container} / 2);
			margin-right: calc(-100vw / 2 + #{$size__container} / 2);
			width: 100vw;
			max-width: 100vw;
			clear: both;

			@include media( 'desktop' ) {
				margin-left: -$size__site-padding;
				margin-right: -$size__site-padding;
			}

			img {
				width: 100%;
			}
		}

		.wp-block-image .alignleft {
		    margin-left: calc(-100vw / 2 + 1000px / 2);
		    max-width: 50vw;
		    margin-top: 0;
	   		margin-bottom: 0;

			@include media( 'desktop' ) {
				margin-left: -$size__site-padding;
			}

			@include media( 'tablet' ) {
				margin: 0;
				max-width: 100%;
				width: 100%;
			}
		}

		.wp-block-image .alignright {
		    margin-right: calc(-100vw / 2 + 1000px / 2);
		    max-width: 50vw;
		    margin-top: 0;
	   		margin-bottom: 0;

			@include media( 'desktop' ) {
				margin-right: -$size__site-padding;
			}

			@include media( 'tablet' ) {
				margin: 0;
				max-width: 100%;
				width: 100%;
			}
		}
	}

	.site-info {
		text-align: center;
	}

}


.entry-footer,
.post-navigation,
.site-footer {
	background-color: #ffffff;
	position: relative;
	z-index: 1;
}

.site-footer {
	text-align: center;
	padding: .5rem;
}

.swp_social_panel a {
	border-bottom: none;
}

// Individual post styles

// @font-face {
//     font-family: 'visby_cfbold';
//     src: url('fonts/visbycf-bold-webfont.woff2') format('woff2'),
//          url('fonts/visbycf-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// .postid-53 {
// 	h1,
// 	h2,
// 	h3,
// 	h4,
// 	h5,
// 	h6 {
// 		font-family: 'visby_cfbold';
// 	}

// 	h1 {
// 		text-transform: uppercase;
// 	}
// }